/* checkers.css */
#game-board{
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1020px;
  height: 1020px;
}

.square{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.black{
  background-color: darkgrey;
}

.checker{
  width: 90px;
  height: 90px;
  margin: 5px;
  border-radius: 50%;
  box-shadow: 8px 8px 8px gray;
}

.checker-w{
  background-color: ivory
}

.checker-b{
  background-color: black;
}
